body{
    width: 1280px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(108, 180, 243);
    color: #53514d;
}
h1,h2,.nav{
    text-align: center;
}

a {
    text-decoration: none; 
    color: black;
}

.container{
    margin: auto;
    padding: 16px;
    width: 336px;
    border-radius: 10px;
    box-shadow: 0px;

}

img{
    width: 336px;
    height: 152px;
    border-radius: 10px;
}

.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}

